<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{cast.image}}" alt="{{cast.name}}"  class="img-fluid rounded" style="width: auto; height: 380px; object-fit: cover;">
        </div>
        <div class="col-md-8 cast-infor">
            <h1>{{cast.name}}</h1>
            <p><strong>Legacy Name:</strong> {{#if cast.legacynametext}}{{cast.legacynametext}}{{else}}N/A{{/if}}</p>
            <p><strong>Birth Date:</strong> {{#if cast.birthdate}}{{formatDate cast.birthdate}}{{else}}N/A{{/if}}</p>
            <p><strong>Birth Place:</strong> {{#if cast.birthplace}}{{cast.birthplace}}{{else}}N/A{{/if}}</p>
            <p><strong>Gender:</strong> {{#if cast.gender}}{{cast.gender}}{{else}}N/A{{/if}}</p>
            <p><strong>Height:</strong> {{#if cast.heightcentimeters}}{{cast.heightcentimeters}} cm{{else}}N/A{{/if}}</p>
            <p><strong>Nicknames:</strong> {{#if cast.nicknames}}{{cast.nicknames}}{{else}}N/A{{/if}}</p>
            <p><strong>Real Name:</strong> {{#if cast.realname}}{{cast.realname}}{{else}}N/A{{/if}}</p>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-12">
            <h2>Movies</h2>
            <div class="row">
                {{#each movies}}
                    <div class="col-md-3">
                        <a href="/movie/{{this.id}}" style="color: inherit; text-decoration: none;">
                            <div class="card mb-4 movie-card">
                                <img class="card-img-top" src="{{this.img}}" alt="{{this.title}}">
                                <div class="card-body">
                                    <h6 class="card-title">{{this.title}}</h6>
                                    <p class="card-text">Rating: {{this.rating}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>