<div class="container mt-4">
    <h1>Search results: {{this.searchText}}</h1>

    {{#if movies.length}}
        <div class="row">
            {{#each movies}}
                <div class="col-md-3">
                    <a href="/movie/{{this.id}}" style="color: inherit; text-decoration: none;">
                        <div class="card mb-4 movie-card">
                            <img class="card-img-top" src="{{this.img}}" alt="{{this.title}}">
                            <div class="card-body">
                                <h6 class="card-title">{{this.title}}</h6>
                                <p class="card-text">Rating: {{this.rating}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>

        {{#if totalPages}}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{#if prevPage}}
                    <li class="page-item">
                        <a class="page-link" href="/search?page={{prevPage}}&searchText={{this.searchText}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#each pages}}
                        {{#if (equals this ../page)}}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{this}}</a>
                            </li>
                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="/search?page={{this}}&searchText={{../searchText}}">{{this}}</a>
                            </li>
                        {{/if}}
                    {{/each}}

                   
                    {{#if nextPage}}
                    <li class="page-item">
                        <a class="page-link" href="/search?page={{nextPage}}&searchText={{this.searchText}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        {{/if}}
    {{else}}
        <p>No movies found.</p>
    {{/if}}

</div>